body { 
        margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header,
main {
        width: 800px; 
         display: inline-block;
        margin-left: calc(50% - 400px);
        margin-bottom: 30px;
}
header {
        margin-top: 40px;
}
header > img{
        width: 100px;
        height: 50px;
        float: left;
        object-fit: contain;
        object-position: left; 
}
nav { 
        float: right;
        margin-top: 10px;
}       
nav > a{ 
         display: inline-block;
        margin-left: 2em;
        color: #A7A7A7;
        font-size: 16px;
        line-height: 1em;
        text-decoration: none;
}
    
nav > a:first-child {
        margin-left: 0;
}
nav > a:hover {
        text-decoration: underline;
}    
nav > a:last-child {
        color: #F6CEFF;
        background-color: #520BEB;
        padding: 0.65em;
        padding-left: 1.25em;
        padding-right: 1.25em;
        text-decoration: none;
        text-align: center;
        border-radius: 1.75em;
        font-size: 16px;
        line-height: 1em;
}

div {
        width: 35%;
        float: left;
}

h1 {
        font-size: 45px;
        font-weight: bold;
        color: #373447;
}

p {
        font-size: 13px;
}

div > a {
        float: left;
    padding: 0.9em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-right: 1em;
    margin-bottom: 1em;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.3em;
    color: #F6CEFF;
    background-color: #520BEB;
    border-radius: 2.3em;
    border: 0.15em solid #520BEB;
}

img {
        width: 60%;
        float: right;
}