body { 
        margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header,
main {
        width: 800px; 
         display: inline-block;
        margin-left: calc(50% - 400px);
        margin-bottom: 30px;
        background-color: greenyellow;
}
header {
        margin-top: 40px;
}
header > img{
        width: 100px;
        height: 50px;
        float: left;
        object-fit: contain;
        object-position: left; 
}
nav { 
        float: right;
        margin-top: 10px;
}       
nav > a{ 
         display: inline-block;
        margin-left: 2em;
        color: #A7A7A7;
        font-size: 16px;
        line-height: 1em;
        text-decoration: none;
}
    
nav > a:first-child {
        margin-left: 0;
}
nav > a:hover {
        text-decoration: underline;
}    
nav > a:last-child {
        color: #F6CEFF;
        background-color: #520BEB;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        text-decoration: none;
        text-align: center;
        border-radius: 100px;
}
main {}

div {
        width: 35%;
        float: left;
}

h1 {
        font-size: 45px;
        font-weight: bold;
        color: #373447;
}

p {
        font-size: 13px;
}

div > a {
}

img {
        width: 60%;
        float: right;
}